div.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #999;
    width: 350px;
    min-height: 500px;
    text-align: center;
    box-sizing: content-box;
    border: 20px solid transparent;
    border-image: url('../images/border.png') 10 round;
    border-radius: 20px;

}

h1 {
    font-size: 2.6rem;
    margin: 20px 0 10px;
    color: #222;
}

footer {
    padding: 8px 0;
}

