@font-face {
    font-family: 'future';
    src: url('../fonts/kenvector_future.ttf');
}

@font-face {
    font-family: 'future-thin';
    src: url('../fonts/kenvector_future_thin.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'future-thin', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #444;
}